/* :root {
  --green: var(--skin-color);
  --lilac: #C8A2C8;
  --orange: #FFCEA5;
  --red: #FF7E88;
  --blue: #8BB2F7;
} */

/* THEME COLOR SWITCH */
:root {
  --skin-color: #29a587;
}



.color-dropdown {
  position: absolute;
  top: 80px;
  right: 157px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.color-option {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
}

.color-option.selected,
.color-option:hover {
  border: 2px solid #000;
}

@media (max-width: 425px) {
  .color-dropdown {
    right: 125px;
  }
}

@media (max-width: 338.9px) {
  .header {
    padding: 30px 10px;
  }

  .color-dropdown {
    right: 115px;
  }
}


/* ScrollBar */

body::-webkit-scrollbar {
  width: 9px;
}

body.light-skin::-webkit-scrollbar-track {
  background-color: #f3efe8;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--skin-color);
}

body.light-skin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(41, 41, 41);
}

body.dark-skin::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}




body.light-skin p,
body.light-skin #contact-section .lui-text span,
body.light-skin #contact-section .contacts-form label,
body.light-skin #contact-section .icon i,
body.light-skin .footer-text,
body.light-skin #skills-section .numbers-items .numbers-item .lui-text span,
body.light-skin #skills-section .numbers-items .numbers-item .icon i,
body.light-skin .terms-label {
  color: #262626 !important;
}




/* Color of the highlighter/selection */
::-moz-selection {
  background-color: #29a586be;
  color: white;
}

::selection {
  background-color: #29a586be;
  color: white;
}


@media (min-width: 426px) and (max-width: 1250.9px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 425.99px) {
  .container {
    padding: 0 30px;
  }
}

/* HEADER */

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo span {
  margin-left: 10px;
}

.menu-full-container {
  padding-left: 40px !important;
  height: 100vh;
  overflow: hidden !important;
}

@media (min-width: 375px) and (max-width: 400px) {
  .menu-full-container {
    padding-left: 80px !important;
  }
}

@media (min-width: 425.9px) {
  .header {
    padding: 30px 50px !important;
  }
}

@media screen and (max-width: 767px) {
  .menu-full-overlay .menu-full-container {
    margin-top: 0 !important;
    height: 100%;
  }
}


/* FOOTER */
.downloadCv-footer {
  padding-right: 20px;
}


/* HERO */

.section.hero-started .info-list ul li .num-custom {
  font-size: 30px !important;
}

@media (min-width: 1250.9px) and (max-width: 1350.9px) {
  #started-section .section.hero-started .slide {
    transform: scale(0.9);
  }
}

@media (min-width: 1125px) and (max-width: 1250px) {
  #started-section .section.hero-started .title span {
    font-size: 80px;
  }

  #started-section .section.hero-started .slide {
    transform: scale(0.7);
    right: -80px;
  }
}

@media (min-width: 1025px) and (max-width: 1124.99px) {
  #started-section .section.hero-started .title span {
    font-size: 70px;
  }

  .section.hero-started .description p {
    padding-right: 25px !important;
  }

  #started-section .section.hero-started .slide {
    transform: scale(0.6);
    right: -130px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #started-section .section.hero-started .slide {
    transform: scale(0.8) !important;
  }
}

/* SKILLS */

@media (min-width: 992px) and (max-width: 1024.9px) {

  #skills-section .numbers-items,
  #contact-section .numbers-items {
    display: flex;
    flex-direction: column !important;
  }

  #skills-section .numbers-items .numbers-item,
  #contact-section .numbers-items .numbers-item {
    width: fit-content !important;
  }


}

@media (min-width: 767px) and (max-width: 1024.9px) {
  #skills-section .skills-items .slide {
    height: 90px;
  }


}


/* RESUME */

@media (min-width: 767.9px) and (max-width: 1345.9px) {
  #resume-section .row {
    margin: 0 20px 0 8px !important;
  }
}

@media (max-width: 767.9px) {
  #resume-section .history-items {
    margin-right: 20px !important;
  }

  #resume-section .history-title-custom {
    margin-top: 30px;
  }
}

@media (min-width: 1251px) {
  #resume-section .history-content {
    height: 250px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1250px) {
  #resume-section .history-content {
    height: 350px !important;
  }
}

@media (min-width: 1041px) and (max-width: 1200.9px) {
  #resume-section .history-content {
    height: 410px !important;
  }
}

@media (min-width: 901px) and (max-width: 1040.9px) {
  #resume-section .history-content {
    height: 410px !important;
  }
}

@media (min-width: 781px) and (max-width: 900.9px) {
  #resume-section .history-content {
    height: 460px !important;
  }
}

@media (min-width: 768px) and (max-width: 780px) {
  #resume-section .history-content {
    height: 580px !important;
  }
}

@media (min-width: 566.9px) and (max-width: 767.99px) {
  #resume-section .history-content {
    height: 250px;
  }
}

/* CONTACTS */
.btn-disabled {
  opacity: 0.5 !important;
}

.contacts-form-confirmed {
  /* background-color: #246353; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-confirmed {
  width: 100%;
  height: 300px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.msg-confirmed svg {
  fill: var(--skin-color);
}

body.dark-skin .msg-confirmed {
  background-color: #1d222a;
  border: 2px solid white;
}

.msg-confirmed h4 {
  color: #262626;
  margin: 0 !important;

}

body.dark-skin .msg-confirmed h4 {
  color: #eaeaea;
}

.msg-confirmed p {
  margin: 10px 0 !important;
}

#contact-section .msg-label span {
  font-weight: 500;
  line-height: 1.7;
  text-transform: none;
  margin-left: 10px;
}

#contact-section .warning-label {
  margin-right: 10px;
  font-weight: 500;
}

/* #contact-section .numbers-item {
  display: flex;
  flex-direction: column;
} */

#contact-section .ready-label {
  margin-right: 10px;
  font-weight: 600;
  color: var(--skin-color) !important;
  text-transform: uppercase;
}

#contact-section .ready-label span {
  font-size: 22px;
}

#contact-section a.lnk::after {
  display: none;
}

#contact-section a.lnk::before {
  margin-right: 20px;
  content: "\f060";
  position: relative;
  left: 0;
  top: 1px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--skin-color);
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}



#contact-section a.lnk:hover::before {
  margin-right: 15px;
}

#contact-section .group .textarea-container {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.light-skin .textarea-container {
  background-color: #ffffff;
  border: 2px solid #000 !important;
}

.dark-skin .textarea-container {
  color: #fff;
  background: #1d222a;
  border: 2px solid #a3a5a7;
}


#contact-section .group textarea {
  border: none !important;
  border-radius: 10px !important;
  margin: 0 !important;
  width: 98% !important;
  padding: 10px 10px !important;

}

#contact-section .group textarea::-webkit-scrollbar {
  width: 8px;
}

#contact-section .group textarea::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 30px;
}

#contact-section .group textarea::-webkit-scrollbar-thumb {
  background-color: var(--skin-color);
  border-radius: 10px;
  border: 2px solid #262626;
}

#contact-section .contacts-form .terms-button {
  display: flex;
  flex-direction: column;
  align-items: end;
}





input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #6fbeab7a inset !important;
  border: 3px solid #308a73;
}

@media (min-width: 630px) and (max-width: 766.9px) {
  #contact-section .contacts-form .terms-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #contact-section .contacts-form .terms-label {
    margin-bottom: 0 !important;
    margin-right: 30px;
  }
}

@media (max-width: 629.9px) {
  #contact-section .contacts-form .terms-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 415.9px) {
  #contact-section .msg-label span.txt-warn {
    display: block;
    white-space: normal;
    margin: 0 0 5px 0 !important;
  }
}


.light-skin .go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 2px #000 solid;
  cursor: pointer;
  position: fixed;
  border: none;
  border-radius: 100%;
  bottom: 50px;
  right: 50px;
  z-index: 9;
  border: 2px solid #000;
  color: #000;
  box-shadow: 5px 5px rgb(0 0 0 / 20%);
}


@media (max-width: 425px) {
  .go-top {
    width: 40px;
    height: 40px;
  }
}